@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

header{
    position: fixed;
    top: 0px;
    left: 0px;

    margin: 0px;
    background-color: #dddddd;
  
    height: 80px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 100;
    box-shadow: 5px 8px 13px rgba(109, 122, 76, 0.274);

    h3{
        font-family: 'Anton', sans-serif;
        letter-spacing: 0.07em;
        font-weight: 500;
    }

    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60vw;

        li{
            margin: 20px;
            display: block;
            font-family: 'Roboto', sans-serif;
            letter-spacing: 0.07em;
            font-weight: 500;
             /* or 178% */
                
            letter-spacing: 0.015em;

            color: black;
            a{
                text-decoration: none;
                color: black;
                transition-property: all;
                transition-duration: 300ms;
            }
            a:hover{
                color: grey;
            }
            
        }
    }

  }