.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1{
        font-family: Anton;
        font-style: normal;
        font-weight: normal;
        font-size: 42px;
        line-height: 64px;
        /* or 133% */

        letter-spacing: 0.07em;
        font-feature-settings: 'liga' off;
        color: #6D7A4C;

        border-bottom: 2px dashed #6D7A4C;

    }
    table{
        tr{
            td{
                font-family: "Roboto";
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 32px;
                /* or 178% */
                letter-spacing: 0.015em;

                width: 300px;

                color: #757575;
                padding: 5px;
                input{
                    font-family: 'Roboto',sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    text-align: center;
                    font-size: 16px;

                    margin-left: 5px;

                    background: #F1F0EC;
                    border: 2px solid #6e6e6e;
                    border-radius: 11px;
                    
                    color: black;
                }
            }
        }
    }
    button{
        background: #F1F0EC;
        border: 2px solid #757575;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.22);
        border-radius: 11px;
        
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #757575;
        /* or 178% */

        text-align: center;
        letter-spacing: 0.015em;
        
        margin: auto;
        margin-top: 2%;
        width: 160px;
        height: 40px;

        cursor: pointer;
    }
    margin-bottom: 50px;
}