.body{
    background-color: #F1F0EC;
 
    // margin-top: 10px;
    // margin-bottom: 100px;
    // margin-right: 150px;
    //margin-left: 20px;
    padding-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    .left{
        display: block;
        width: 50vw;
    }
    .right{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50vw;
        img{
            height: 300px;
        }
    }

}